<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkough.mathercise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdditionActivity"
            android:label="@string/title_activity_addition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubtractionActivity"
            android:label="@string/title_activity_subtraction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MultiplicationActivity"
            android:label="@string/title_activity_multiplication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DivisionActivity"
            android:label="@string/title_activity_division"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
